<div class="content">
  <!--<button (click)="authService.login('google')" class='google'>Login with Google</button>-->
  <!--<button (click)="authService.login('facebook')" class='facebook'>Login with Facebook</button>-->

  <h1>One Click Member Login</h1>
  <div id="firebaseui-auth-container"></div>

  <h3 id="website_title">See How Our Proven Team Management Software Built For Chick-fil-A&trade; Removes Chaos & Increases Sales</h3>
  <a href="https://foryour.team" style="margin-bottom: 1em">
    <button class="red">Go to our website <i class="fas fa-hand-point-right"></i></button>
  </a>
</div>
