:host {
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  position: relative;
  display: block;

  /deep/ img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

:host /deep/ *:not(img) {
  display: none;
}
