@import "../variables";

:host {
  overflow: auto;
}

tr td, tr th {
  padding-right: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.center {
  text-align: center;
}

thead tr {
  text-align: left;
  font-size: large;
}

tbody tr {
  font-size: larger;

  &:nth-child(even) {
    background: $cfa-light-grey;
  }
}

table {
  max-width: 90%;
  margin: 0 auto;
  border-spacing: 0;
  padding-top: 100px;
}

.link {
  color: $cfa-dark-blue-lighter;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.has-tooltip {
  // https://github.com/angular/components/issues/4892#issuecomment-613298737
  // Workaround so can scroll on these items on touchscreen
  touch-action: auto !important;
}
