@import '../../variables';


.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $cfa-light-grey;
  border-radius: .5em;
  padding: 0em 1em;
  margin: .5em 0;

  &.done {
    background: $cfa-light-grey-darker;
  }

  p {
    flex-grow: 1;
  }

  .title {
    font-weight: bold;
  }

  div {
    flex-shrink: 0;
    margin-left: 2em;
  }

  :host-context(.appMenu) & {
    flex-direction: column;
    padding-bottom: .5em;
  }
}

.newItem {
  p {
    margin: 0.3em;
    display: flex;
  }
  input {
    background: transparent;
    border: none;
    padding: 0.5em;

    &.title {
      width: 10.5em;
    }
    &.description {
      flex-grow: 1;
    }
  }
}

:host(.evaluatedList) {
  .title span {
    font-weight: normal;
  }
  .listItem {
    flex-direction: row;
    padding-bottom: 0;
  }
}
